.satui{
    background-color:lightskyblue;
   
}

.duai{
    background-color:darkolivegreen;
}

.tigai{
    background-color: blue;
}

.empati{
    background-color: red;
}

.limaii{
    background-color: yellow;
}

.enam{
    background-color: purple;
}
