.satu{
    overflow: scroll;
    width: 325px;
    background-color: aqua;
    border: 15px dotted red;
}
.dua{
    overflow: scroll;
    width: 300px;
    background-color: aqua;
    border: 5px solid green;
}
.tiga{
    overflow: scroll;
    width: 335px;
    background-color: aqua;
    border: 20px dashed blue;
}