*{
    margin: 0;
    
}
.box{
    width: 200px;
    padding: 30px;
    text-align: center;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px;
}
.container{
    display: flex;
}
.box1{
    background-color: lightseagreen;
}
.box2{
    background-color: limegreen;
}
.box3{
    background-color: royalblue;
}
.box4{
    background-color: blueviolet;
}
.box5{
    background-color: darkslategrey;
}
.box6{
    background-color:goldenrod;
}
.box7{
    background-color: darkorange;
}
.box8{
    background-color: orangered;
}
.box9{
    background-color: lightgrey;
}
.box10{
    background-color: gray;
}
.container3{
    display: flex;
}